.header {
  background-color: #393b47;
  padding: 10px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  width: 120px;
  height: auto;
}

.hamburgerMenu {
  display: none;
  flex-direction: column;
  width: 35px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 10px;
}

.hamburgerMenu span {
  height: 3px;
  width: 35px; 
  background-color: white;
  margin: 2px 0;
  margin-right: 30px;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  transition: color 0.3s ease;
}

.link:hover {
  color: #e40000;
}

.senaiButton {
  background-image: linear-gradient(to right, #823030 0%, #da2626 51%, #553131 100%);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 35px;
  border-radius: 100px;
  text-decoration: none;
  transition: background-position 0.3s;
  background-size: 200% auto;
}

.senaiButton:hover {
  background-position: right center;
}

@media (max-width: 768px) {
  .hamburgerMenu {
    display: flex;
    margin-right: 23px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #4a4c59;
    transition: right 0.4s ease;
    z-index: 100;
  }

  .nav.active {
    right: 0;
  }

  .menuContent {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: -350px; 
    align-items: flex-start;
  }

  .link {
    margin: 12px 0; 
    font-size: 20px;
    width: 100%;
    text-align: left;
  }

  .senaiButton {
    margin-top: 15px; 
    width: fit-content;
  }
}