.container {
  display: flex;
  flex-wrap: nowrap wrap wrap-reverse;

}

.title {
  font-size: 40px;
  font-weight: bold;
}

.filterAside {
  background-color: rgb(255, 255, 255);
  max-width: 100px;
 max-height: 100vh;
  margin-right: 15px;
  padding: 10px;
  margin-top: 45px;

}
.verticalLine {
  border-left: 2px solid rgb(170, 6, 6);
  height: 70; 
  margin: 70px;
  
}

.textcabecalho{
  font-size: 20px;
  color: #b81818;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  font-weight: bold;

}



.containerCards {
  
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-left:20px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  padding-top: 26px;


}

.infoAside{
  color: rgba(172, 6, 6, 0.888);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 19px;

}

.campoinfo{
  margin-bottom: 20px;
  margin-top: 10px;
  width: 110px;
}



/* Responsividade para telas de até 800px */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    /* Alinha os itens verticalmente em vez de horizontalmente */
  }

  .textcabecalho{
    font-size: 20px;
    color: #ac0909;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  .filterAside {
    margin-left: 15px; 
    max-width: 400px;
    height: 440px; 
    padding: 10px; 
    background-color: rgba(26, 27, 32, 0.452);
    border-radius: 10px;
  
  

  }

  .campoinfo{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 320px;
    border-radius: 6px;
    height: 26px;
  
  }

  .containerCards {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    flex-direction: column;

    /* Ajusta o layout dos cards */
  }

  .cards {
    flex: 0 0 100%;
    /* 100% de largura nos cards */
  }

  .textcabecalho {
    font-size: 18px;
    /* Reduz o tamanho da fonte */
  }
}

/* Responsividade para telas de até 600px */
@media (max-width: 600px) {
  .cards {
    flex: 0 0 100%;
    /* 100% de largura em telas menores */
  }

  .container {
    flex-direction: column;
    padding: 10px;
  }
}