.container {
  display: flex;
  flex-wrap: nowrap wrap wrap-reverse;
 
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.filterAside {
  background-color: rgb(255, 255, 255);
  width: 190px;
  height: 100vh;
  margin-right: 10px;
  padding: 10px;
  padding-top: 26px;
}

.containerCards {
  box-shadow: 0px 4px 8px rgba(151, 5, 5, 0.1);
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-left:20px;

}
.infoAside{
  padding-top: 900px;
}



@media (max-width: 1200px) {
  .cards {
    flex: 0 0 calc(33.33% - 15px);
    /* 33.33% width with 15px gap */
  }
}

@media (max-width: 900px) {
  .cards {
    flex: 0 0 calc(50% - 15px);
    /* 50% width with 15px gap */
  }
}

@media (max-width: 600px) {
  .cards {
    flex: 0 0 100%;
    /* 100% width on small screens */
  }
}