.Principal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Principal2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo {
    text-align: center;
    font-size: 27px;
    color: #ffffff;
}
.titulo1{
    background-color: #26235C;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
.imagem1{
    width: 65vw;
    height: 58vh;
    margin-bottom: 2%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 17%;
}
.Divtexto{
    width: 80%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content:center;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 6%;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px dashed #9b9b9b; 
    margin-left: 10%;
}
.Divtexto:hover{
    transform: scale(1.1); 
    box-shadow: 0 0 15px rgb(0, 0, 0);
    border: 0px dashed #ffffff; 
}
.texto{
    font-size: 15px;
    padding-bottom: 1%;
}
.texto2{
    font-size: 15px;
    padding-bottom: 2%;
}
.texto3{
    font-size: 20px;
    color: #26235C;
}
.divTitulo{
    padding-top: 2%;
    padding-bottom: 1%;
}

@media (max-width: 768px) {
    .Principal, .Principal2 {
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: flex-start; 
    }

    .imagem1 {
        width: 90vw; 
        height: auto; 
        margin-left: 5%; 
        margin-bottom: 2%; 
        padding-bottom: 2%;
    }

    .titulo {
        font-size: 21px; 
    }

    .Divtexto {
        padding-bottom: 5%;
        height: auto; 
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
        border: 2px dashed #9b9b9b; 
    }
    
    .texto, .texto2 {
        font-size: 13px; 
    }

    .texto3 {
        font-size: 17px; 
    }

    .titulo1 {
        padding-top: 6%;
        padding-bottom: 5%;
    }

    .divTitulo {
        padding-top: 5%; 
        padding-bottom: 5%; 
    }
}
