.Card {
    background-color: rgb(253, 251, 251);
    width: 300px;
    height: 330px;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    margin: 28px;
    border-bottom: 11px solid #FF0000;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-bottom 0.3s ease;
}
.Card:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 20px rgb(0, 0, 0); 
    border-bottom: 11px solid #FF4500; 
}
.fotos {
    width: 42%;
    height: 17vh;
    border-radius: 100%;
}

.Nomes {
    color: black;
    font-size: 20px;
    padding: 5px;
}

.funcoes {
    color: #26235C;
    font-size: 15px;
    padding: 2px;
}

.descricao {
    color: black;
    font-size: 13px;
    padding: 10px;
}

.DivEmail {
    background-color: #26235C;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.email {
    text-align: center;
    font-size: 14px;
    justify-content: center;
    color: white;
}

@media (max-width: 768px) {
    .Card {
        background-color: rgb(253, 251, 251);
        width: 300px;
        height: 33Vh;
        border-radius: 5%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 12%;  
        box-shadow: 0 0 15px rgb(0, 0, 0);
        border-bottom: 11px solid #FF0000;
        transition: transform 0.3s ease, box-shadow 0.3s ease, border-bottom 0.3s ease;
    }
    .Card:hover {
        transform: scale(1.1); 
        box-shadow: 0 0 20px rgb(0, 0, 0); 
        border-bottom: 11px solid #FF4500; 
    }
    .fotos {
        width: 20vw;
        height: 8vh;
        border-radius: 100%;
    }
    .Nomes {
        color: black;
        font-size: 18px;
        padding: 5px;
    }
    .funcoes {
        color: #26235C;
        font-size: 15px;
        padding: 2px;
    }
    .descricao {
        color: black;
        font-size: 13px;
        padding: 10px;
    }
    .DivEmail {
        background-color: #26235C;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .email {
        text-align: center;
        font-size: 13px;
        justify-content: center;
        color: white;
    }
}