.backgroundimg {
  position: relative;
  margin-top: 0;
}



.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 4s ease infinite;
  opacity: 1;
}

@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}

.hero_area {
  position: relative;
  height: 100vh;
  background-color: black;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
  left: 0;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }

  100% {
      transform: translate3d(85px, 0, 0);
  }
}

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
}

.redSection {
  position: relative;
  background-color: #d20000;
  padding: 50px 0;
  text-align: center;
  color: white;
}

.redSection::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 75%);
  border-radius: 50% 50% 0 0;
  transform: translateY(50%);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerButton {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  margin: 20px 0;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.bannerButton:hover {
  background-position: right center;
  color: #fff;
}