.backgroundimg {
  position: relative;
  margin-top: 0;
}

.redSection {
  position: relative;
  background-color: #393b47;
  padding: 130px 0;
  text-align: center;
  color: white;
  margin-bottom: -5px;
  font-family: 'Raleway', sans-serif;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerButton {
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 51%, #ababab 100%);
  margin: 35px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-position 0.3s, color 0.3s;
  background-size: 200% auto;
  color: #393b47;
  border-radius: 100px;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
}

.bannerButton:hover {
  background-position: right;
}

.targetSection {
  padding: 80px 0;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.cardsInnerContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-family: 'Raleway', sans-serif;
}

.card {
  background-color: white;
  border-radius: 20px;
  border: 1px dashed #505050; 
  margin: 10px;
  text-align: center;
  width: 200px; 
  height: 200px; 
  transition: transform 0.2s ease;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.card img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block; 
}

.cardContent {
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.hideContent {
  padding: 0; 
}



.activeCard {
  transform: scale(1.05); 
}

.card1 {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.cardTitle {
  font-weight: bold;
  margin: 5px;
  margin-bottom: 8px;
}

.cardTitle1 {
  font-weight: bold;
  margin: 5px;
  margin-bottom: 8px;
  font-size: 30px;
}

.cardDescription {
  margin-bottom: 10px;
}

.cardLink {
  color: #264261;
  cursor: pointer;
  transition: color 0.3s;
}

.cardLink:hover {
  color: #005bb5; 
}

.redSeta {
  width: 90px;
  display: block;
  margin-bottom: 15px;
  margin: 0 auto 10px;
}

.buttonMais {
  background-color: #ca2525;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buttonMais:hover {
  background-color: #172533;
  transform: scale(1.05);
}


.infoSection {
  text-align: center;
  padding: 50px 0;
  font-family: 'Raleway', sans-serif;
}

.infoTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.infoSubtitle {
  margin-bottom: 40px;
}

.infoCardsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.infoCard {
  background-color: white;
  border-radius: 20px;
  width: 260px;
  margin: 15px;
  text-align: center;
  padding: 20px;
  border: 1px dashed #797979;
  font-family: 'Raleway', sans-serif;
}

.infoCardImage {
  width: 80%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}

.infoCardTitle {
  font-weight: bold;
  margin: 10px 0;
  font-size: large;
}

.infoCardDescription {
  margin-bottom: 10px;
}

.middleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.leftImage {
  flex: 1;
  text-align: center;
}

.leftImage img {
  max-width: 100%;
  height: auto;
}

.rightText {
  flex: 1;
  padding: 70px;
  text-align: left;
}

.topCoursesSection {
  padding: 20px;
  border-radius: 8px;
}

.topCoursesTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.coursesList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courseItem {
  flex: 1;
  min-width: 150px;
  text-align: center;
  margin: 10px;
}

.courseItem img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.courseItem h4 {
  margin: 10px 0;
  color: red; /* Title color */
}

.courseItem p {
  color: #999; /* Subtitle color */
}
