.backgroundimg {
  position: relative;
  margin-top: 0;
}

.redSection {
  position: relative;
  background-color: #393b47;
  padding: 130px 0;
  text-align: center;
  color: white;
  margin-bottom: -5px;
  font-family: 'Raleway', sans-serif;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerButton {
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 51%, #ababab 100%);
  margin: 35px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-position 0.3s, color 0.3s;
  background-size: 200% auto;
  color: #393b47;
  border-radius: 100px;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
}

.bannerButton:hover {
  background-position: right;
}

.targetSection {
  padding: 430px 0;
  text-align: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  border: 1px dashed #505050; 
}

.card1 {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.cardTitle {
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

/* Linha vermelha do primeiro card */
.card:first-of-type .cardTitle::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: red; 
  border-radius: 2px;
}

.cardDescription {
  margin-bottom: 10px;
}

.cardButton {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.cardButton:hover {
  background-color: #005bb5;
}

.redSeta {
  width: 90px;
}