.Perguntas{
    font-weight: bold;
    font-size: 2vh;
    margin-right: 22vh;
    font-family: 'Raleway', sans-serif;
}
.Respostas{
    margin-top: 1vh;
    text-align: center;
    margin-right: 1vh;
    font-family: 'Raleway', sans-serif;
}