.container {
    background-image: url('/public/fundoDetalhamento.png');
}
.header2IMG{
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
  padding: 18px;
  margin-left: 340px;
  width: 50vw;
  border-radius: 30px;
 }

.InfosDesc {
    background-color: rgb(255, 255, 255);
    width: 60vw;
    height: 200px;
    margin-top: 60px;
    padding: 35px;
}

.contaier2 {
    background-color: rgb(255, 255, 255);
     margin-top: 68px;
    align-items: center;
}

.bloco1 {
    background-color: rgb(255, 255, 255);
    width: 245px;
    height: 200px;
    width: 278px;
    height: 290px;
    margin: 70px;
    padding: 22px;
    margin-left: 230;
    box-shadow: -11px 0px 0px -3px red;
    line-height: 2
}

.bloco2 {
    background-color: rgb(255, 255, 255);
    width: 245px;
    height: 200px;
    width: 278px;
    height: 290px;
    margin: 70px;
    padding: 22px;
    box-shadow: -11px 0px 0px -3px red;
    margin-left: 230;
    line-height: 2
}
.blocosText{
    font-size: 18px;
    text-wrap: 10px;
}
.h2{
font-size: 30px;
text-align: center;
margin-bottom: 15px;
}