/* Estilo para centralizar o cartão no meio da tela */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF; /* Cor de fundo da página */
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.carouselItem {
  padding: 15px; /* Padding para espaçamento interno */
  max-width: 230px;
  background-color: #393b47aa;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  position: relative;

}

.carouselImage {
  width: 60px; /* Tamanho reduzido da imagem */
  height: 60px;
  border-radius: 50%;
  margin: 10px 0;
  margin-left: 65px;
}

.Nome {
  font-size: 18px; /* Tamanho da fonte reduzido */
  font-weight: bold;
  color: #ffffff;
  margin: 5px 0;
}

.funcoes {
  font-size: 13px; /* Tamanho da fonte reduzido */
  color: #e40000;
  margin-bottom: 3px;
}

.descricao {
  font-size: 12px; /* Tamanho da fonte reduzido */
  color: #ffffff;
  margin: 10px 0;
  text-align: center;
}

.email {
  font-size: 10px; /* Tamanho da fonte reduzido */
  color: #FFF;
  background-color: #e40000;
  padding: 6px 10px; /* Padding menor para o botão */
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 8px;
}

.carouselItem::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: #e40000;
  border-radius: 50%;
}