.containerPerguntas{
    display: flex;
}
.titulo{
    margin-top: 8vh;
    margin-left: 7vh;
}
.circulo{
    margin-top: 4vh;
    margin-left: 8vh;
}
.containerContato{
    width: 180vh;
    height: 70vh;
    background-color: #f59a9a21;
    margin-left: 15vh;
    margin-top: 10vh;
    border-radius: 5vh;
}
.tituloContato{
    color: black;
    margin-left: 5vh;
    margin-top: 5vh;
}
.subtiuloContato{
    font-weight: bold;
    margin-left: 5vh;
}
.containerInformacoes{
    display: flex;
}
.imagem{
    width: 80vh;
    height: 53vh;
    margin-left: 5vh;
    border-radius: 5vh;
}
.telefone{
    font-size: 15px;
}
.localizacao{
    font-size: 15px;
}
.divInformacoes{
    margin-top: 20vh;
}