.containerPerguntas{
    display: flex;
    background-color: #393b47ee;
    margin: 3%;
    color: white;
    width: 35vw;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-bottom 0.3s ease;
    align-items: center;
    text-align: center;
}
.containerPerguntas:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 15px rgb(0, 0, 0); 
    border-bottom: 5px solid #FF0000; 
}
.perguntas{
    display: flex;
}
.titulo{
    margin-top: 6vh;
    text-align: center;
    color: #393b47ee;
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
}
.containerT{
    height: 8vh;
    width: 100%;
  border-bottom: 4px solid #FF0000;
}

.circulo{
    margin-left: 3vh;
    margin-bottom: 3vh;
}
.containerContato{
    width: 80vh;
    height: auto;
    margin-left: 59vh;
    padding-top: 2vh;
    padding-bottom: 3vh;
    margin-top: 5vh;
    border-radius: 8px;
    border: 2px dashed #393b47ee;
    margin-bottom: 8vh;
}

.tituloContato{
    color: #393b47ee;
    text-align: center;
    font-size: 22px;
    margin-bottom: 1vh;
    font-family: 'Raleway', sans-serif;
}
.subtiuloContato{
    font-weight: bold;
    text-align: center;
    color: #FF0000;
    font-size: 13px;
    margin-bottom: 4vh;
    font-family: 'Raleway', sans-serif;
}
.divInformacoes{
    display: flex;
    margin-top: 3vh;
}
.telefone{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 5vh;
    font-family: 'Raleway', sans-serif;
}
.localizacao{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 1vh;
    font-family: 'Raleway', sans-serif;
}